.darker {
  background: #f5f5f5;
}
.mdl-data-table {
  margin: 0;
  width: 100%;
  border-left: none;
  border-right: none;
}
.mdl-data-table th {
  background: #f5f5f5;
}
.a {
  text-decoration: underline;
  cursor: pointer;
}